/* CSS */
.name {
  text-align:center;
  margin-top:-20px;
  /* font-family:arial; */
  /* font-style:italic; */
}
.name h1 {
  font-size:50px;
}
.name h5 {
  margin-top:-35px;

}
.h1 {
text-align:center;
}
.digitalteamwork {

}
li {
  margin-left: 75px;
}
h3 {
  margin-left: 25px;
  font-family:arial;
  font-style:italic;
  bottom:-25px;
}
.skills {
  margin-bottom:50px;
}
li {
margin-bottom:10px;
}
body {
  width:75%;
}
h1 {
  color:navy;
}
 /* li:before {
    font-family: 'FontAwesome';
    content: '\f192';
    /* width:100%; */
    /* margin-left:-25px; */
    /* content: '     '; */
}
/* li:before {
  margin-right:25px;
}
ul {
  /* display:none; */
} */ */
