/* CSS */
.name {
  text-align:center;
  margin-top:-20px;
  /* font-family:arial; */
  /* font-style:italic; */
}
.name h1 {
  font-size:50px;
}
.name h5 {
  margin-top:-35px;
}
aside {
  width:30%;
  max-width:500px;
  min-width:100px;
  float:left;
}
.h1 {
text-align:center;
}
.digitalteamwork {

}
.skills h1 {
  font-size: 30px!important;
  right:-25px;
  /* text-align:center; */
  margin-left:100px;
}
li {
  margin-left: 75px;
  margin-bottom:10px;
}
h3 {
  margin-left: 25px;
  font-family:arial;
  font-style:italic;
  bottom:-25px;
}
.skills {
  margin-bottom:-150px;
}
body {
  width:100%;
  /* margin-left:100px;
  margin-right:-100px; */
}
h1 {
  color:navy;
}
.lawnmowing p {
  right:100px;
  float:right;
  font-style:italic;
}
.digitalteamwork p {
  float:right;
  right:-100px;
  font-style:italic;
}
.cmpdigital p {
  float:right;
  right:100px;
  font-style:italic;
}
.holyfamily p {
  margin-top:30px;
}
